#quest_script{
    text-align: center;    
    padding: 10px;
    margin: 10px;
}

.link_box {
    background-color: #d9ffb766;
    text-align: center;
    padding: 10px;
    margin: 10px;
}